.frame7{
  margin-top: 142px;
  margin-left: 10%;
}

  .landing-text10 {
    color: var(--dl-color-default-textcolor);
    height: auto;
    font-size: 60px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 129.99999523162842%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0px;
    text-decoration: none;
  }
  .landing-text12 {
    color: var(--dl-color-default-textcolor);
    height: auto;
    font-size: 66px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Moteefe;
    font-weight: 400;
    line-height: 129.99999523162842%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0px;
    text-decoration: none;
  }
  .landing-text14 {
    color: var(--dl-color-default-subheading);

    font-size: 26px;
    font-style: Regular;
    font-family: Roboto;
    font-weight: 400;
    
    
    text-decoration: none;
  }
  
  .landing-text16 {
    color: var(--dl-color-gray-white);
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Lato;
    font-weight: 700;
    line-height: 129.99999523162842%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
    margin-top: 10px;
  background-color: var(--dl-color-default-brandcolor);
  }

  .landing-africamapsvgrepocom4 {
    margin-top: 130px;
    margin-left: 10%;
  }